{% extends 'base.html' %}

{% block content %}

    <div class="row mt-3">
      <div class="col-md-3">

        <div id="popup1" class="overlay">
          <div class="popup">

            <a class="close" href="#">&times;</a>
            <div class="content">
              Successfully Added
            </div>
          </div>
        </div>


        <form action="{% url 'add-to-list' %}" method="POST">
          {% csrf_token %}
          <table class="table table-bordered">
            <thead>
                <tr>

                  <th scope="col">Add To List</th>
                </tr>
              </thead>
        </table>
              <div class="col mb-2">
                <input type="text" class="form-control" name="what-to-do" placeholder="What To Do...">
              </div>
              <div class="col mb-2">
                <input type="date" class="form-control" name="when-to-do" placeholder="When To Do..">
              </div>


              <div class="col mb-2">
                <a type="text" class="form-control btn btn-primary" href="#popup1">Add</a>
              </div>
        </form>
      </div>

        {% if pending_todo_list.count > 0 %}
        <div class = 'col-md-3'>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Pending <span style = 'color:green'>( {{ pending_todo_list.count }} )</span></th>
                  </tr>
                </thead>
                <tbody>
                    {% for pending_list in pending_todo_list %}
                        <tr>

                            <td>{{ pending_list.what_to_do }}</td>
                            <td><a href="{% url 'move_todo_list' pending_list.id 'working' %}"><button class="btn btn-info">Working</button></a></td>

                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        {% else %}
            <div class="col-md-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>

                          <th scope="col">Pending <span style = 'color:red'> ( 0 )</span></th>
                        </tr>
                      </thead>
                </table>
            </div>
        {% endif %}
        <!-- working to do list -->
        {% if working_todo_list.count > 0 %}
        <div class = 'col-md-3'>
            <table class="table table-bordered">
                <thead>
                  <tr>

                    <th scope="col">Working <span style = 'color:yellowgreen'>( {{ working_todo_list.count }} )</span></th>
                  </tr>
                </thead>
                <tbody>
                    {% for working_list in working_todo_list %}
                        <tr>

                            <td>{{ working_list.what_to_do }}</td>
                            <td><a href="{% url 'move_todo_list' working_list.id 'done' %}"><button class="btn btn-info">Done</button></a></td>


                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        {% else %}
            <div class="col-md-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>

                          <th scope="col">Doing <span style = 'color:red'> ( 0 )</span></th>
                        </tr>
                      </thead>
                </table>
            </div>
        {% endif %}

        <!-- done todo list -->
        {% if done_todo_list.count > 0 %}
        <div class = 'col-md-3'>
            <table class="table table-bordered">
                <thead>
                  <tr>

                    <th scope="col">Done<span style = 'color:blueviolet'>( {{ done_todo_list.count }} )</span></th>
                  </tr>
                </thead>

                <tbody>
                    {% for done_list in done_todo_list %}
                        <tr>

                            <td>{{ done_list.what_to_do }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        {% else %}
            <div class="col-md-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>

                          <th scope="col">Done<span style = 'color:red'> ( 0 )</span></th>
                        </tr>
                      </thead>
                </table>
            </div>
        {% endif %}


    </div>
{% endblock %}